*,
*::after,
*::before{
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
ul{
  list-style-type: none;
}
.item{
  list-style: none;
  text-decoration: none;
  color: black;
}